*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link, a:visited, a:hover,  a:active { 
  color:#FF6060; 
}

.banneImage{
  border-radius: 10px;
}
