.homeSection{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.locations{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-around;
    row-gap: 10px;
    width: 100%;
    background: #F6F6F6;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

.location{
    position: relative;
    width: 340px;
    height: 340px;
    padding: 5px;
    /*background: #FF6060; */
    border-radius: 10px;
    overflow: hidden;
}

.location img{
   height: 340px;
   object-fit: cover;
   position: relative;
}

.locationLink{
    width: 100%;
    height: 340px;
    position: absolute;
    top : 0;
    left: 0;
    box-shadow: rgb(0 0 0 / 35%) 0px -180px 50px -50px inset;
}

.location a{
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.homeImg{
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-size: cover;
    background-image: url('../../img/homePage.png');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blackLayer{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeImg h1{
    color: white;
}

@media only screen and (max-width: 600px) { 
    .homeSection{
        width: 100%;
    }
    .homeImg h1{
        font-size: 18px;
    }
}