.locationSection{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locationInformations {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locationTitleAndLocation{
    display: flex;
    flex-direction: column;
}

.locationTagAndStars{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locationDescAndEquipements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locationCollapse{
    width: 45%;
}