
.collapse{
  margin-top: 10px;
  margin-bottom: 10px;
}

.collapsible {
    background-color: #FF6060; 
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  
.collapsible:hover {
    background-color: #FF6060; 
}

  .contentCollapse {
    padding:18px;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .contentCollapseOpen {
    padding: 18px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 3px;
    height: 3px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }